.newswidth{position:relative;margin:auto;width:1200px;height:auto;}
.wrap_news_middle{margin:0 0 15px 0;display:inline-block;width:100%;}
.wrap_news_middle .temp-tree{border:none;width:100%;background-color:rgba(255, 221, 0, 1);}
.wrap_news_middle .temp-tree h2{display:none;background-color:#ff0000;height:31px;overflow:hidden;padding-left:17px;font:15px/31px Arial;color:#ffffff;text-transform:lowercase;}
.temp-tree h2:first-letter, .temp-tree h3:first-letter{text-transform:uppercase;}
.wrap_news_middle .temp-tree ul{padding:0;float:left;width:100%;max-width:1200px;margin:auto;}
.wrap_news_middle .temp-tree ul li{float:left;position:relative;width:auto;padding:6px 0px;margin:0 0 0 13px;}
.wrap_news_middle .temp-tree ul li h3 a{float:left;color:#000000;font:bold 12px/24px Arial;padding:2px 13px;border-radius:15px;border:none;}
.wrap_news_middle .temp-tree ul li:hover > h3 a,
.wrap_news_middle .temp-tree ul li h3 a:hover, .wrap_news_middle .temp-tree ul li h3 a.active{color:#ff0000;background:#ffffff;}
.wrap_news_middle .temp-tree ul.tree li.tree-i ul.tree-1{top:40px;left:0;position:absolute;padding:0 0 0 12px;width:auto;right:initial;}
.wrap_news_middle .temp-tree ul.tree li.tree-i:last-child ul.tree-1{right:-13px;}
.wrap_news_middle .temp-tree ul.tree li.tree-i ul.tree-1 li.tree-i-1{margin-left:0;}
.wrap_news_middle .temp-tree ul.tree li.tree-i ul.tree-1 li.tree-i-1 li{padding:0;margin-left:18px;float:none;width:auto;}
.wrap_news_middle .temp-tree ul.tree li.tree-i ul.tree-1 li.tree-i-1 li a{width:auto;display:block;}
.news_fixed{position:fixed;top:0;left:0;width:100%;z-index:2;}
.news_fixed.wrap_news_middle .temp-tree ul{float:none;}
.news_fixed.wrap_news_middle .temp-tree{height:40px;}
ul.tree li.tree-i ul.tree-1{border-top:none;display:none;}
ul.tree li.tree-i ul.tree-1 li h3 a{font-weight:normal;}
.wrap_news_middle .banner-getcategory{overflow:hidden;}
.wrap_news_middle .banner-getcategory li{display:inline;width:19.8%;margin-left:.25%;float:left;}
.wrap_news_middle .banner-getcategory li:first-child{margin-left:0;}
.wrap_news_middle .banner-getcategory li img{width:100%;}
.n-wrap-center.wrap_news_left{float:left;width:880px;}
.n-wrap-center.wrap_news_left .itemContainer{margin:15px 0 10px 0;}
h2.news-list-title, h3.news-list-title, h1.news-list-title{border-top:1px solid #CCCCCC;margin:0 0 40px;position:relative;top:15px;}
h2.news-list-title span, h3.news-list-title span, h1.news-list-title span{background:none repeat scroll 0 0 #FFFFFF;color:#555555;font:18px Arial;text-transform:uppercase;left:0;padding:0 10px 5px 14px;position:absolute;top:-13px;}
h2.news-list-title span a, .archive-title h1{color:#FF1F00;}
.archive-meta{left:0;padding:0 10px 5px 14px;}
.n-wrap-right.wrap_news_right{float:right;width:300px;}
.wrap_news_right .news-option h2, .wrap_news_right .news-option h3{background-color:#ff0000;color:#ffffff;display:block;font:13px/35px Arial;text-transform:uppercase;text-align:center;font-weight:bold;}
ul.temp-news-item{margin:0 -10px;}
ul.temp-news-item *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
ul.temp-news-item li.news-item{float:left;overflow:hidden;width:33.333333%;padding:10px;}
ul.temp-news-item li.news-item .news-body{background:#F8f8f8;height:370px;padding:10px;border:1px solid #e4e4e4;border-radius:3px;}
ul.temp-news-item li.news-item-1{}
ul.temp-news-item li.news-item .image{width:300px;max-height:180px;border:solid 1px #E4E4E4;height:180px;text-align:center;background-color:#ffffff;display:table-cell;overflow:hidden;vertical-align:middle;border-radius:3px;}
ul.temp-news-item li.news-item .image img{max-height:178px;max-width:257px;}
ul.temp-news-item li.news-item h2, ul.temp-news-item li.news-item h3{margin:10px 0 0 0;max-height:51px;overflow:hidden;}
ul.temp-news-item li.news-item h2 a, ul.temp-news-item li.news-item h3 a{display:block;padding-right:10px;color:#000000;font-family:Tahoma;font-size:14px;text-decoration:none;}
ul.temp-news-item li.news-item h2 a:hover, ul.temp-news-item li.news-item h3 a:hover{color:#ed1b24}
ul.temp-news-item li.news-item .des{color:#333333;font-family:Arial;font-size:14px;padding-top:10px;max-height:116px;overflow:hidden;}
ul.temp-news-item li.news-item .des *{font-size:14px !important;line-height:150%;font-weight:normal;}
.wrap-right-nd{float:right;width:974px;}
.wrap_news_left h1.news-title,
.wrap-right-nd h1.news-title{font-family:Tahoma;font-size:22px;font-weight:normal;line-height:1.3;margin-bottom:10px;padding-left:14px;}
.wrap_news_left .news-content,
.wrap-right-nd .news-content,
.wrap_news_middle .news-content{font-size:14px;line-height:150%;padding-left:14px;}
.wrap_news_left .news-content ul,
.wrap-right-nd .news-content ul,
.wrap_news_middle .news-content ul{padding-left:17px;}
.wrap_news_left .news-content ul.temp-pro-item,
.wrap-right-nd .news-content ul.temp-pro-item,
.wrap_news_middle .news-content ul.temp-pro-item{padding-left:0;}
.news-content .temp-pro ul.temp-pro-item li p.image img,
.wrap_news_left .news-content img,
.wrap-right-nd .news-content img,
.wrap_news_middle .news-content img{display:block;max-width:100%;height:auto !important;margin:0px auto;text-align:center;}
.wrap_news_left .news-content div, .wrap_news_left .news-content p,
.wrap-right-nd .news-content div, .wrap-right-nd .news-content p{margin:6px 0;max-width:880px;}
.wrap_news_middle .news-content div, .wrap_news_middle .news-content p{max-width:100%;}
.n-wrap-center .temp-pro ul.temp-pro-item li.temp-pro-item-li{width:190px;}
.wrap_news_left .news-content h1{font-size:15px;}
.wrap_news_left .news-content table{width:90%;margin:auto;}
.wrap_news_right .news-option ul{border:1px solid #dddddd;padding:7px 7px 7px 11px;}
.wrap_news_right .news-option ul li{border-bottom:1px solid #E5E5E5;display:block;float:none;font-family:Arial,Helvetica,sans-serif;line-height:20px;margin-top:8px;overflow:hidden;padding-bottom:10px;}
.wrap_news_right .news-option ul li a{color:#333333;display:block;float:none;font:13px Arial;text-decoration:none;}
.wrap_news_right .news-option ul li a img{float:left;margin-right:12px;max-height:66px;max-width:72px;}
.wrap_news_middle .news-option ul{border:1px solid #dddddd;padding:7px 7px 7px 11px;}
.wrap_news_middle .news-option ul li{float:left;width:19.8%;position:relative;margin:0 .2% 0 0;}
.wrap_news_middle .news-option ul li .image{width:238px;height:134px;overflow:hidden;}
.wrap_news_middle .news-option ul li .name{position:absolute;left:0;bottom:0;width:100%;padding:8px;background-color:#333;background:rgba(0,0,0,.5);}
.wrap_news_middle .news-option ul li a{color:#ffffff;display:block;float:none;font:13px Arial;text-decoration:none;}
.wrap_news_middle .news-option ul li a img{width:100%;min-heihgt:134px;max-width:none;max-height:none;}
.itemContainer{float:right;}
.itemContainer li{display:inline-block;margin:0 7px;font:17px/64px Arial;}
.itemContainer li a{color:#0062B7;}
ul.itemContainer li.active span, ul.itemContainer li a:hover{color:#F26300;}
.pl-news{margin:17px 0 0;padding:0 0 7px 0;border:1px solid #dddddd;}
.pl-news h4{display:block;font:13px/35px Arial;text-align:center;background-color:#ff0000;text-transform:uppercase;font-weight:bold;color:#ffffff;}
.pl-news ul li{float:left;padding:7px 0;width:100%;border-bottom:1px solid #dddddd;}
.pl-news ul li p.image{display:table;float:left;width:75px;height:60px;}
.pl-news ul li p.image a{display:table-cell;vertical-align:middle;text-align:center;width:75px;height:60px;}
.pl-news ul li p.image img{max-width:72px;max-height:52px;}
.pl-news ul li p.name{float:right;padding-right:7px;width:205px;}
.pl-news ul li p.name a{display:block;font:12px/17px Arial;overflow:hidden;color:#0072bc;text-transform:uppercase;}
.pl-news ul li p.name span{color:#ff0000;font-weight:bold;}
.p-tag{border:1px solid #DDDDDD;display:inline-block;margin:17px 0 0;padding:0 0 7px;width:99%;}
.p-tag h3{background-color:#F7F7F7;border-bottom:1px solid #DDDDDD;display:block;font:bold 17px/34px Arial;padding:0 4%;text-transform:uppercase;}
.p-tag ul li{width:90%;padding:5px 5%;border-bottom:1px solid #EFEFEF;font:10px Arial;margin-bottom:5px;}
.p-tag ul li a{}
.p-tag ul li.tagCloud-1 a{color:#990000;font-size:1.65em;}
.p-tag ul li.tagCloud-2 a{color:#330000;font-size:1.55em;}
.p-tag ul li.tagCloud-3 a{color:#993300;font-size:1.45em;}
.p-tag ul li.tagCloud-4 a{color:#CC6600;font-size:1.35em;}
.p-tag ul li.tagCloud-5 a{color:#660000;font-size:1.25em;font-weight:normal;}
.p-tag ul li.tagCloud-6 a{color:#000000;font-size:1.1em;font-weight:normal;}
.fb-cmt{display:block;margin:11px 0;width:974px;}
.fb-cmt h3{display:block;margin:7px 0;color:#666666;font:bold 20px/37px Arial;text-transform:uppercase;}
.wrap-nd-tv{width:1200px;color:#333333;text-align:justify;font:14px/18px 'Open Sans',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;}
.wrap-nd-tv h1, .wrap-nd-tv h2, .wrap-nd-tv h3, .wrap-nd-tv h4, .wrap-nd-tv h4, .wrap-nd-tv p
,.wrap-nd-tv div{display:block;margin:4px 0;}
.wrap-nd-tv h1.news-title{border-bottom:1px solid #CCCCCC;font-size:25px;font-weight:normal;padding:20px 0;text-align:center;text-transform:uppercase;}
.wrap-nd-tv h2.news-title{font-size:20px;font-weight:normal;padding:30px 0 10px;text-transform:uppercase;}
.wrap-nd-tv{}
.wrap-nd-tv .tuvan-taisao{background:none repeat scroll 0 0 #F8F9FB;height:234px;margin-top:15px;}
.wrap-nd-tv .tuvan-taisao .tuvan-taisao-1{float:left;width:300px;overflow:hidden;margin:17px 0 0 40px;}
.wrap-nd-tv .tuvan-taisao .tuvan-taisao-2{float:left;margin-left:50px;width:755px;font-size:25px;font-weight:normal;line-height:35px;padding-top:50px;}
.wrap-nd-tv ul.tuvan-tabs{border:1px solid #CCCCCC;border-radius:3px;margin-top:20px;padding:10px 0;text-align:center;text-transform:uppercase;list-style:none;height:20px;display:block;}
.wrap-nd-tv ul.tuvan-tabs li{float:left;}
.wrap-nd-tv ul.tuvan-tabs li a{color:#333333;font-size:14px;padding:0 30px;}
.tuvan-mota h3.tuvan-mota-h{font-size:18px;font-weight:700;margin:0 auto;padding:30px 0 5px;text-align:center;text-transform:uppercase;}
.tuvan-mota p.tuvan-mota-border{display:block;margin:0 auto;height:3px;width:150px;border-bottom:3px solid #ff0000;}
.tuvan-mota table, .tuvan-mota table tr, .tuvan-mota table tr td{border:1px solid #cccccc;padding:5px 9px;border-collapse:collapse;text-align:center;}
.tuvan-mota ul.tuvan-mota-thanhphan{list-style:none;display:block;margin:14px 0;}
.tuvan-mota ul.tuvan-mota-thanhphan li{margin:4px 0;list-style:none;float:left;}
.tuvan-mota ul.tuvan-mota-thanhphan li.tuvan-mota-thanhphan-dot{list-style:disc;}
.tuvan-mota ul.tuvan-mota-thanhphan li.tuvan-mota-thanhphan-1cot{width:100%;}
.tuvan-mota ul.tuvan-mota-thanhphan li.tuvan-mota-thanhphan-2cot{width:48%;padding-right:2%;}
.tuvan-mota ul.tuvan-mota-thanhphan li.tuvan-mota-thanhphan-4cot{width:25%;}