@import url('https://fonts.googleapis.com/css?family=Roboto');


/**admin*/
a, div, h1, h2, h3, h4, h5, p, span {
    text-shadow: none;
    font-family: "Roboto",sans-serif !important;
}
body{
    font-family:"Roboto",sans-serif !important;
}
body::-webkit-scrollbar {
    width: 5px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,0.4);
  outline: 1px solid slategrey;
  border-radius: 10px;
}
.content-wrapper {
    background: #fff !important;
}
.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color:#ff3333 !important;
}
.navbar.default-layout {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #dc2430, #7b4397) !important;
}
a .navbar-brand.brand-logo, a.navbar-brand.brand-logo-mini {
    color: #fff !important;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
}

.sidebar li.nav-item a span, .sidebar ul.nav.flex-column.sub-menu li a {
    font-family: "Roboto",sans-serif !important;
    color: #000 !important;
    font-size: 15px !important;
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
    border-radius: 100%;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
nav#sidebar {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}
.sidebar .nav .nav-item .nav-link:hover {
    color: #3d3d3d;
    background: rgba(255,255,255,0.1) !important;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\F142";
    font-family: "Material Design Icons";
    font-size: 18px;
    line-height: 1;
    font-style: normal;
    vertical-align: middle;
}
.sidebar  span#menu_username {
    color: #000;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
}
.sidebar li.nav-item.nav-profile {
    height: 65px;
    background: #f2f2f2;
}
.sidebar .nav.sub-menu {
    margin-bottom: 0;
    padding: 0 0 0 2rem !important;
}
.sidebar li.nav-item.active i {
    color: #979797;
}
.sidebar  a.nav-link i {
    color: #dc2430 !important;
}
.text-center.navbar-brand-wrapper.d-flex.align-items-top.justify-content-center {
    border-bottom: 1px solid #ddd;
}

/**beadcrum*/
.content-wrapper .breadcrumb {
    background: #f7f7f7;
    width: 100%;
    line-height: 40px;
    margin-top: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px !important;
}
.content-wrapper .breadcrumb a {
    padding-right: 10px;
    color: #288ad6;
    font-size: 15px;
    text-decoration: none;
}
.content-wrapper .breadcrumb i {
    line-height: 40px;
    padding-right: 10px;
}
/**modal*/
.modal-content {
    background: #fff !important;
}
.modal-content .modal-header {
    background: #dc2430 !important;
    border: 0px !important;
    border-bottom: 0px !important;
}
.modal-content button.close {
    color: #fff !important;
    opacity: 1 !important;
}
.modal-content .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    right: 15px !important;
    position: absolute;
}
.modal-content .modal-header h4{
    color:#fff !important;
    font-size:18px;
    font-family:"Roboto",sans-serif;
    text-transform:uppercase;
}
.modal-content .table th, .modal-content .table td {
    padding: 5px 0px !important;
    vertical-align: top;
    font-size:15px !important;
    border-top: 0px !important;
    line-height: 3 !important;
    border-bottom:0px !important;
}
.modal-content .modal-footer {
    padding: 5px !important;
}
.modal-content .modal-body span {
    color: #ff3333 !important;
}
.table-responsive {
    margin: 0px 0 20px 0;
}
.table-responsive table#MainContent_example td  {
    background: #fff !important;
    font-size:14px;
    border-top: 0px !important;
    padding-right:10px !important;
}
.table-responsive table#MainContent_example {
    border: 1px solid #ddd;
}
.table-responsive table#MainContent_example tbody th{
    background:#dc2430;
    color:#fff;
}
.table-responsive table#MainContent_example .btn i:before {
    padding-left: 5px;
}
div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
    width: 100%;
}
.form-inline label {
   display:unset !important;
}
.form-control {
    font-size: 15px !important;
    font-family: "Roboto",sans-serif !important;
}
.btn {
    padding: 0.56rem 0.375rem !important;
}
.table th, .table td {
    padding: 10px !important;
    vertical-align: top;
    border-bottom: 1px solid #f2f2f2 !important;
    text-align: left;
    padding-right: 0px !important;
}
div.table-responsive .table.table-bordered thead tr th {
    border-left: none;
    width: 160px !important;
    border-right: none;
}
.modal-dialog {
    max-width: 750px !important;
    margin: 30px auto;
}

/**style*/
.rounded-circle {
    border-radius: 50% !important;
    border: 2px solid #fff;
    object-fit: cover;
}
.sidebar .nav .nav-item .nav-link .menu-icon {
    font-size: 18px;
    color: #dc2430 !important;
}
div#example_paginate ul li a {
    border: 1px solid #dc2430;
    padding: 5px;
    text-decoration: none;
    color: #dc2430;
    margin-top: 20px !important;
    margin: 0 3px 0 3px;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 300px !important;
    border-radius: 5px;
    background: url(/css/image/search-icon.png) 96% 50% no-repeat #fff;
}
notifyjs-bootstrap-base.notifyjs-bootstrap-success{
    font-weight:normal !important;
}
notifyjs-bootstrap-base.notifyjs-bootstrap-errer {
    font-weight: normal !important;
}
table#MainContent_example td:last-child {
    text-align: center !important;
}
.navbar.default-layout .navbar-menu-wrapper {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1) !important;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .profile-text {
    margin-right: 15px;
    font-size: 15px;
}
div#form__search {
    POSITION: RELATIVE;
}
div#form__search a#MainContent_btnSearch {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px !important;
    text-align: center;
}
div#form {
    border: 1px dashed #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius:5px;
}
div#form .form-group {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
div#form__search a#MainContent_btnSearch {
    position: absolute;
    top: 2.5px;
    right: 2px;
    padding: 8px !important;
    text-align: center;
}

/**footer*/
.footer {
    background: #f2f8f9;
    padding: 10px 1rem !important;
}
    /**MOBILE*/
@media only screen and (max-width:900px) {
     div#form__search {
       margin-top: 10px;
     }
}