ul#css3menu1,ul#css3menu1 ul{
	margin:0;
    list-style:none;
    padding:0;
    /*
    background-color:#dedede;
    border-width:1px;
    border-style:solid;
    border-color:#5f5f5f;
    -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
    */
}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;
    -moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;
    box-shadow:3.5px 3.5px 5px #000000;
    background-color:#FFFFFF;

    /*border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
*/
    border-color:#d4d4d4;
    /*padding:0 10px 10px;*/

}
ul#css3menu1 li:hover>*
{
	display:block;
}
ul#css3menu1 li{
	position:relative;
    display:block;
    white-space:nowrap;
    font-size:0;
    float:left;
    
}
ul#css3menu1 li:hover{
	z-index:1;

}

ul#css3menu1 li:hover a {
	/*background: #19c589;*/
    padding-left:10px;
    padding-right : 10px;
}

ul#css3menu1 li a:hover {
	background:#4CAF50;
}

ul#css3menu1 li:hover ul a {
	/*background: #f3f3f3;*/
	/*color: #2f3036;*/
	/*height: 40px;
	line-height: 40px;*/
}

/*Hover state for dropdown links*/
ul#css3menu1 li:hover ul a:hover {
	background:#4CAF50;
	color: #fff;
}



ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;zoom:1;padding:0;
	*display:inline;

}
* html ul#css3menu1 li a
{
	display:inline-block;}
ul#css3menu1>li
{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus
{
	outline-style:none;

}
ul#css3menu1 a{
	display:block;
    vertical-align:middle;
    text-align:left;
    text-decoration:none;
    font-size:16px;
    cursor:pointer;
    padding-left:12px;
    padding-right:12px;
    line-height:30px;
    /*font-weight: bold;*/
     padding-top:8px;
      padding-bottom:8px;
    /*
     background-color:#c1c1c1;
    background-image:url("/Css/image/mainbk.png");
    background-repeat:repeat;background-position:0 0;
    border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;
        */
}
ul#css3menu1 ul li
{
	float:none;
    /*margin:10px 0 0;*/

}
ul#css3menu1 ul a{
	text-align:left;
    padding:4px;
    background-color:#FFFFFF;
    background-image:none;
    border-width:0;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    color:#000;
    text-decoration:none;

}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
    /*
	background-color:#0c97e2;
    border-color:#C0C0C0;
    border-style:solid;
    color:#000000;
    text-shadow:#FFF 0 0 1px;
    background-image:url("/Css/image/mainbk.png");
    background-position:0 100px;
*/
    /*text-decoration: underline;*/
}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url("/Css/image/arrowsub.png");padding-right:12px;}
ul#css3menu1 > li.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:10px;}
ul#css3menu1 > li.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#000000;-moz-box-shadow:0 8px #000000, 0 16px #000000;-webkit-box-shadow:0 8px #000000, 0 16px #000000;box-shadow:0 8px #000000, 0 16px #000000;}
ul#css3menu1 > li.switch:hover:before{
	background:#000000;-moz-box-shadow:0 8px #000000, 0 16px #000000;-webkit-box-shadow:0 8px #000000, 0 16px #000000;box-shadow:0 8px #000000, 0 16px #000000;}
.c3m-switch-input{
	display:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{

	/*background-color:#0c97e2;
    background-image:url("/Css/image/mainbk.png");
    background-position:0 100px;

    border-style:solid;
    border-color:#C0C0C0;
    color:#000000;
    text-decoration:none;
    text-shadow:#FFF 0 0 1px;
        */

}
ul#css3menu1 li ul li a:hover{
    
	/*background-color:#FFFFFF;
    background-image:none;color:#0978b3;*/
    /*text-decoration:underline;*/

}

ul#css3menu1 li.topfirst>a{
	border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu1 li.toplast>a{
	border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;}
/*

@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 192px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}
    */

/*STYLE CUSSTOM*/
body.ThucTap-body {
    width: 100%;
    background: url(/css/image/backgound.jpg) no-repeat 0px 0px !important;
    margin-top: 0px !important;
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
}
section#Dang-Nhap {
    margin-top: 80px;
}
section#Dang-Nhap .form-Login {
    position: relative;
}
section#Dang-Nhap .panel-heading {
    height: 60px;
    line-height: 60px;
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
section#Dang-Nhap input#txtuser, section#Dang-Nhap input#txtpass {
    width: 100%;
    height: 40px;
    margin: 25px 0;
    border-radius: 0px !important;
    padding: 13px;
    padding-left: 48px;
}
section#Dang-Nhap input#btndangnhap {
    width: 100%;
    padding: 8px;
    background: #dc2430;
    border: 0px !important;
    border-radius: 0px;
    font-size: 19px;
    font-family: "Roboto",sans-serif;
}
section#Dang-Nhap input#btndangnhap:hover{
    background:#ef4d4d;
}
section#Dang-Nhap i#icon-user {
    position: absolute;
    z-index: 9999;
    top: 0px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background: #dc2430;
    color: #fff;
    text-align: center;
}
section#Dang-Nhap div#title-txt {
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: "ROboto",sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}